@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home_title { 
	background: linear-gradient(45deg, #FF4081, #03DAC6, #32A1F2, #8CD867);
	background-clip: text;  
  animation: gradientAnimation 10s infinite;  
  color: transparent;
}