.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 20em;
  width: 50%;
}

.form__inputValue {
  color: rgb(35, 185, 115);
}

.form__input {
  color: gray;
  max-width: 20em;
  min-width: 15em;
  width: 100%;
}
