.gif__item {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-width: 15em;
  margin: 1em 0;
  box-shadow: 0 0 7px 3px rgb(87, 76, 185);
}

.gif__image {
  min-width: 17em;
  max-width: 25em;
  min-height: 10em;
  max-height: 25em;
}

.gif__title {
  text-align: center;
  font-size: 1.2em;
}
